body {
    font-family: arial;
    background: linear-gradient(#FFFFFF, #C5C5C5);
    background: #fafafa;
}

.scriviPost {
    padding: 15px;
}

div#cornice {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

button.submitComment{
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin: 0px 8px 0px 0px;
    background: #133212;
    float: right;
    color: #fff;
    font-weight: 600;
    border: solid #fff;
    cursor: pointer;
}

textarea.commentTextarea {
    width:calc(100% - 70px);
    height: auto;
    margin: 0px 0px 5px 5px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    font-size: 15px;
    resize: none;
    font-family: arial;
}

div.comment{
    margin-bottom: 10px;
}

div#testo {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.textComment {
    padding: 0px 20px;
    font-size: 15px;
}

.inputCommento {
    background: #ededed;
    padding: 8px;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
    max-height: 300px;
    overflow: auto;
}

.userComment {
    background: #f5f5f5;
    border-radius: 20px 0px 20px 0px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 15px;
}

.userImageComment {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ededed;
    float: left;
    margin: 7px;
    margin-right: 8px;
    margin-left: -15px;
}

.styleComment {
    border-bottom: solid #ededed;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    background: #fff;
    word-wrap: break-word;
}

#postButton {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90px;
    float: right;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #133212;
    border: 1px solid #133212;
    border-radius: 5px;
    color: #FFFFFF;
}

.postImage {
    margin-top: 10px;
    min-height: 440px;
}
.postImage > img { width: 100%; height: auto; }


.header{
}
div#logout {
    margin-top: -9px;
    font-size:14px;
    color: #fff;
    float:right;
    margin-right: 40px;
}

div#logout a{
    color: #fff;
    font-size:13px;
    position: absolute;
    top: 60px;
    z-index: 10000;
    right: 13%;
}

div#like {
    float: left;
    margin-right: 20px;
}

.contentLike {
    padding-top: 10px;
    border-top: 1px solid #dddfe2;
    margin-left: 10px;
    margin-right: 10px;
}


textarea#postTextarea {
    width: 100%;
    height: 150px;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 20px;
    resize: none;
    font-family: arial;
}

.content {
    background: white;
    border: 1px solid #dddfe2;
    margin-bottom: 10px;
    border-radius: 2px;
}

.content.consigli{
    
}

.content.consigli > .amico{
    margin: 10px;
    border: 0px;
}

.content > h3 {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Vertical menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
   
}

.hiddenField {
    display: none;
    font-size: 13px;
    color: #FF0000;
    margin-right: 5px;
}

.headerHome {
    background-color: #133212;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: 1000;
    height: 90px;
}
#headerLeft {
    padding-left: 14%;
}

#headerRight {
    padding-right: 10%;
    padding-top: 20px;
    float: right;
}
#headerInputs {
    width: auto;
    height: 50px;
    float: left;
    display: inline;
}
.HomeField {
    color: #FFFFFF;
    display: inline;
    float: left;
    font-size: 13px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#submitHome {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.contentHome {
    position: relative;
    top: 90px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 30px;
    z-index: 1;
}
#contentHomeLeft {
    width: 46%;
    float: left;
    padding-left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: static;
}
#contentHomeRight {
    width: 25%;
    padding-right: 15%;
    height: 200px;
    right: 200px;
    float: right;
    padding: 20px;
    position: fixed;
}

@media screen and (min-width: 100px) and (max-width: 1600px) {
    #contentHomeRight{
    position: static;
    padding-right: 15%;
    height: 200px;
    float: left;
    padding: 20px;
    }
}

#buttonRegistration {
    border: 1px solid #133212;
    border-radius: 15px;
    background-color: #133212;
    color: #FFFFFF;
    width: 120px;
    padding: 20px;
    display: block;
    cursor: pointer;
}
.user{width:100%;}
#userImage {padding: 10px;width: 40px;float: left;margin-right:10px;height: 40px;overflow: hidden;}
#cornice > img {
    width:50px;
}
#userName{padding: 1px;margin-bottom: 20px;}

#clock{ margin-top: -15px; font-size:15px;}

