

body {
    font-family: arial;
}

div#remove-row-addcomment {
    background: #ededed;
    margin-bottom: -16px;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li a:hover {
   
}
.hiddenField {
    display: none;
    color: #FF0000;
}
.header {
    background-color: #133212;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: 100;
    /* height: 90px; */
}
#headerLogo {
    float: left;
    padding-left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#headerLeft{
float: left;
padding-top: 5px;
}

#headerRight {
}
#nome_utente
{
	padding-right: 15%;
    padding-top: 15px;
     float: left;
}
.contentAmici {
    position: fixed;
    top: 90px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-bottom: 60px;
    background: #C5C5C5;
    background: linear-gradient(#FFFFFF, #C5C5C5);
    overflow: auto;
}
.footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background-color: #FFFFFF;
}
#contentFooter {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
}
.footerDivs {
    font-weight: 900;
    margin-right: 40px;
    color: #133212;
}




/* NOTIFICHE */
h2{
    font-size: 20px;
    margin: 20px;
	font-weight: bold;
}

.contentNotifiche {
    position: fixed;
    top: 90px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*margin-bottom: 60px;*/
    background: #C5C5C5;
    background: linear-gradient(#FFFFFF, #C5C5C5);
    overflow: auto;
}
.userBox{
	width: 800px;
	height:50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	padding-bottom:40px;
	border-top: 2px solid white;
}
.userImage{
	height:75px;
	width:75px;
	float:left;
}
.userData{
	font-size:20px;
	font-weight: bold;
	height:75px;
	width:700px;
	margin-bottom: 4px;
	margin-top: 10px;
	float:left;
}
.userDate{
	font-size:15px;
	font-weight: normal;
	font-style: oblique;
	margin-top: 10px;
	margin-bottom: 4px;
}
.postPageDate{
    font-size:15px;
    font-weight: normal;
    font-style: oblique;
    margin-bottom: 4px;
    margin-left:60px;
}
.userName{
    font-size:20px;
    font-weight: bold;
    height:75px;
    width:325px;
    margin-bottom: 4px;
    margin-top: 10px;
    float:left;
}
input.bottone {
    cursor: pointer;
    border: 1px solid #133212;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    color: #FFFFFF;
    background-color: #133212;
    font-size: 13px;
}
input.commenti{
    cursor: pointer;
    border: 1px solid #133212;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    color: #FFFFFF;
    background-color: #133212;
    font-size: 13px;
}
#btn-more {
    cursor: pointer;
    border: 1px solid #133212;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    color: #FFFFFF;
    background-color: #133212;
    font-size: 15px;
    margin-left:10px;
}


/* AMICIZIE */

.friendBox{
    border: 2px solid #C0C0C0;
    background-color: #D3D3D3;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #696969;
    display:flex;
    justify-content:left;
    align-items:center;
}

.message{
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}

.searchContainer{
    margin: auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.searchBox{
    border: 2px solid rgb(19, 50, 18);
    background-color: rgba(19, 50, 18, 0.5);
    padding: 10px;
    width: 400px;
    float:left;
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

button.bottone.amicizia {
    border: 1px solid #133212;
    width: 150px;
    height: 30px;
    color: #FFFFFF;
    background-color: #133212;
    font-size: 13px;
    margin: 5px;
    float:left;
    cursor:pointer;
}

input.testo.amicizia {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.userName.amicizia{
    margin-left: 30px;
}

img.userImage.amicizia{
    margin: 5px;
    height:75px;
    width:75px;
    border-radius: 35px;
}

ul.pagination{
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.testoErrore{
    color: rgb(19, 50, 18);
    font-weight: bold;
    font-size: 18px;
    margin: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* PAGINE */
.contentPages {
    position: fixed;
    top: 90px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-bottom: 60px;
    background: #C5C5C5;
    background: linear-gradient(#FFFFFF, #C5C5C5);
    overflow: auto;
}

.pagesBox{
    border: 2px solid #C0C0C0;
    background-color: #D3D3D3;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #696969;
    display:flex;
    justify-content:left;
    align-items:center;
}

input.testo.pagine {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

button.bottone.pagina {
    border: 1px solid #133212;
    width: 150px;
    height: 30px;
    color: #FFFFFF;
    background-color: #133212;
    font-size: 13px;
    margin: 5px;
    float:left;
    cursor:pointer;
}

.pageName{
    font-size:20px;
    font-weight: bold;
    height:75px;
    width:325px;
    margin-bottom: 4px;
    margin-top: 10px;
    float:left;
    margin-left: 30px;
}

.pageName > .description{
    font-size:15px;
    height:75px;
    width:325px;
    margin-bottom: 4px;
    margin-top: 10px;
    float:left;
}

img.pageImage{
    margin: 5px;
    height:75px;
    width:75px;
    border-radius: 35px;
}

/* POST */
#textareaCommento
{
    height:70px;
}


/* MENU */
div#corniceProfilo {
	width: 50px;
    height: 50px;
    border-radius: 25px;
    float:left;
    margin-top:-10px;
    margin-right:10px;
}

div#nomeProfilo {
    float: right;
    margin-top: 3px;
}